@use '../portfolio';
@use '../palette';

#code-projects {
    font-size: 3.125rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 12.5rem;
    gap: 2rem;

    .code-project-node {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        height: 4.76em;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

            .code-project-overlay {
                animation: overlayExpandWidth 0.25s forwards ease-out;
            }

            .code-project-image {
                transform: scale(1.1);
            }

            .code-project-node-title,
            .code-project-node-roles {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.code-project-node-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.code-project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.code-project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.code-project-node-info {
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    z-index: 2;
}

.code-project-node-title, .code-project-node-roles {
    margin: 0;
    transform: translateY(-30px);
    transition: opacity 0.15s ease, transform 0.3s ease;
    opacity: 0;
}

.code-project-node-title {
    font-size: 1em;
    font-weight: 300;
    color: palette.$primary-color;
}

.code-project-node-roles {
    font-size: 0.6em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    font-family: palette.$paragraph-font;
}

@keyframes overlayExpandWidth {
    0% {
        width: 0;
        opacity: 0.6;
    }
    100% {
        width: 100%;
        opacity: 0.6;
    }
}
